/.classpath
/.project
/.settings
/target

# IntelliJ project files.
/.idea
/*.iml

# Jenkins home directory when running "mvn hpi:run".
/work

# Maven surefire statistics file for determining test run order
.surefire-*
